<body>
<div class="container">
<div class="row">
   <li class="nav-item">
 
    <li><%= link_to 'Aluno', alunos_path %></li>
     <br>
        <li><%= link_to 'Aeronave', aeronaves_path %></li>
    
     <br>
      <li> <%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>        
        
       
      </li>
     
</div>
</div>

</body>